<h1>User::Homes#home</h1>
<p>Find me in app/views/user/homes/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to "ログアウト ", destroy_user_session_path, method: :delete %>
<% end %>

<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>
<h1>l</h1>