<div class="container">
  <div class="book-index-box-group">
  <% @book_top10.each do |top10| %>
    <div class="col-xs-6 box-back">
      <div class="book-index-box">
<!--タイトル-->
        <div class="row">
          <div class="book-index-title">
            <%= link_to user_book_path(top10.id), class: "title-text" do %>
              <h3><%= top10.title %></h3>
            <% end %>
          </div>
        </div>
<!--投稿した書籍の画像-->
        <div class="row box-line">
          <div class="book-index-image">
            <%= link_to user_book_path(top10.id), class: "title-text" do %>
              <%= attachment_image_tag top10, :book_image, size: "300x240" %>
            <% end %>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
  <% end %>
  </div>
</div>