// Place all the styles related to the common::tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メインビジュアルの記述
.mv-box {
  background-image: image-url("ShareBooks.jpg");
  background-size: cover;
  display: flex;
  justify-content: left;
}

.mv-text-box {
  margin-left: 150px;
  height: 200px;
  text-align: center;
  background-color: rgba(255,248,220,0.5);
}

.mv-text {
  padding-top: 65px;
  // line-height: 200px;
  // color: ;
}
// top3
.top3-head {
  text-align: center;
}
.top3-book-box-group {
  display: flex;
  flex-wrap: wrap;
}
.top3-book-box {
  background-color: #dddcd6;
}
.top3-book-title {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}
.title-text {
  color: black;
}
.box-line {
  text-align: center;
}
.space {
  height: 50px;
}