<div class="container-fluid">
  <div class="row footer-box">
    <div class="footer-text">
      <p>© 2021 進藤聖起.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-11 col-xs-1">
      <%= link_to new_admin_session_path do %>
        <p class="admin-link">管理者ログイン</p>
      <% end %>
    </div>
  </div>
</div>